{{! 
Citation for the following the functions/modules/code on the page: 
Date: 07-29-2023
Adapted from: This module was adapted from the CS340 Starter Code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
}}

<!-- main.hbs-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Movie Information Database</title>
</head>
<body>

    {{{body}}}

</body>
</html>